.App {
  text-align: center;
}

body {
  background: #161130 22% !important;
}

.App-header {
  background-color: #282c34;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.App-intro {
  color: #fff;
}

/* .movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */

.movie {
  padding: 5px 25px 10px 25px;
  width: 15%;
  height: 15%;
}

.swiper-slide > h3 {
  font-size: small;
  color: #fff;
}

.swiper-container__title {
  float:left;
  color: #fff;
}

.swiper-container {
  width:80%;
  margin:auto;
  padding: 10px !important;
}

.swiper-slide {
  position: relative;
  text-align: center;
  opacity: .8;
  transition: transform .2s;
}

.swiper-slide:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: transform .2s;
}

.swiper-slide > img {
  border-radius: 10px;
  color: #fff;
}

.welcome {
  color: #fff;
}

.errorMessage {
  color: #fff;
}

.react_logo {
  width: 200px;
  height: 200px;
}

.movieDB_logo {
  width: 200px;
  height: 70px;
}

